<div class="container mt-5">

  <h1>
    Passport-multer-material
  </h1>
  <h3>
    MEAN Stack app with local(+nodemailer mails sent for verification) and google oauth20 authentication methods and adding/editting/removing posts with multer/gridfs uploads. Uses ngrx for state management.
  </h3>
   <h3>Usage:</h3>
   <ul >
     <li><b> yarn watch:</b> Compile typescript server(backend) files into js</li>
    <li> <b>yarn dev:</b>Run the client & server with concurrently</li>
    <li> <b>yarn server:</b> Run the Express server only</li>
    <li> <b>ng serve --open</b> Run the client(Angular) only </li>
   </ul>
   Server runs on http://localhost:3000 and client on http://localhost:4200.
   Remember about adding .env files with needed keys and values in root folder.
   State management in angular is provided with <a mat-button href="https://ngrx.io/">Ngrx</a>. 
   <br>
   You can deploy it for example on heroku by connecting with github, eventually you can create build folder(dist) from root folder with:
    <b>yarn build</b>
  <br>
  <br>
  <a class="d-flex justify-content-center mat-display-1" target="_blank" mat-button href="https://passport-angular.herokuapp.com">Example page</a>
</div>