$link-color: #FF4136;

.switch {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  color: $link-color;
  a {
    text-decoration: none;
  }
}

.close {
  position: absolute;
  right: 0;
}

form {
  position: relative;
}