<mat-dialog-content class="form">
  <button class="close" mat-button (click)="onNoClick()">X</button>
  <h2 mat-dialog-title>Fill the form!</h2>
  <hr>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <formly-form [form]="form" [fields]="switched ? firstFormFields : secondFormFields" [model]="exampleData"></formly-form>
    
    <div class="switch">
      <button mat-raised-button type="submit" color="primary" class="btn btn-primary float-right" [disabled]="!form.valid">Submit </button>
      <div>
        <div class="message" *ngFor="let msg of message$ | async">
          {{msg.message}}
        </div>
      </div>
      <a mat-button (click)="switchForms()">{{ switched ? 'Not registered?' : 'Back to login'}}</a>
    </div>

    
  </form>

</mat-dialog-content>