$link-color: #FF4136;

.switch {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
    &:hover {
      color: $link-color;
    }
  }
}

.close {
  position: absolute;
  right: 0;
}

form {
  position: relative;
}

.mat-form-field {
  width: 190px;
}