<ng-template #menu>
  <a mat-list-item routerLink="/">Home</a>
  <a mat-list-item routerLink="/posts">Posts</a>

  <div *ngIf="(user$ | async)[0] == null;then login_button else logout_button" ></div>    

  
</ng-template>

<ng-template #login_button>
  <a mat-list-item [matMenuTriggerFor]="appMenu"><mat-icon>login</mat-icon> </a>
  <mat-menu #appMenu="matMenu">
    <a mat-menu-item (click)="AuthDialog(true)">Login</a>
    <a mat-menu-item (click)="AuthDialog(false)">Register</a>
  </mat-menu>
</ng-template>


<ng-template #logout_button>
  <a mat-list-item (click)="logout()">Logout</a>
</ng-template>





<mat-sidenav-container class="sidenav-container">

  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isMobile$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isMobile$ | async) ? 'over' : 'side'"
    [opened]="false"
  >
    <!-- Sidenav content  -->
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <ng-container *ngTemplateOutlet="menu"></ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mb-4">
      <div>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isMobile$ | async"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <a mat-button class="logo" routerLink="/">
          <mat-icon>done_outline</mat-icon>
        </a>
      </div>

      <!-- Menu content -->
        <mat-nav-list class="menu">
          <div style="display: flex;" *ngIf="!(isMobile$ | async)">
            <ng-container *ngTemplateOutlet="menu"></ng-container>
          </div>
          <a mat-list-item>
            <mat-slide-toggle (change)="onSwitchTheme($event)"></mat-slide-toggle>
          </a>
        </mat-nav-list>
    </mat-toolbar>

    <router-outlet></router-outlet>

    <mat-toolbar color="primary" class="footer">
      <span>Example app</span>
    </mat-toolbar>
  </mat-sidenav-content>

</mat-sidenav-container>
