.name {
  cursor: pointer;
  text-align: center;
  margin: 0 auto;

  &:hover {
    color: red;
  }
}

.delete {
  position: absolute;
  right: 0;
}

img {
  position: absolute; 
  height: 100%; 
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
}