<div>
  <mat-toolbar color="background">
    <button mat-button color="warn" class="delete" *ngIf="user?.email==todo.email" (click)="onDelete(todo.id)">X</button>
  <button mat-button (click)="onSelect()" *ngIf="todo" class="name">{{todo.content}}</button>
</mat-toolbar>
</div>
<div class="position-relative" color="background">
  <img [src]="todo.fileImage ? environment+'/'+todo.path : todo.path" alt="">
</div>
<div>
  <mat-toolbar class="d-flex justify-content-center" color="background">
    <button mat-button (click)="openUpdate(todo)" *ngIf="todo.email==user?.email" >Update item</button>
  </mat-toolbar>
</div>
