<mat-form-field>
  <input matInput [ngxMatDatetimePicker]="picker" 
                placeholder="Choose a date" 
                [formControl]="formControl"
                [formlyAttributes]="field"
                [min]="minDate" [max]="maxDate" 
                [disabled]="disabled">
<mat-datepicker-toggle matSuffix [for]="$any(picker)">
</mat-datepicker-toggle>
<ngx-mat-datetime-picker #picker 
  [showSpinners]="showSpinners" 
  [showSeconds]="showSeconds"
  [stepHour]="stepHour" [stepMinute]="stepMinute" 
  [stepSecond]="stepSecond"
  [touchUi]="touchUi"
  [color]="color">
</ngx-mat-datetime-picker>
</mat-form-field>